<div class="bg-white p-8 rounded shadow-md max-w-xl mx-auto">

    <h2 class="text-2xl font-bold mb-6 text-center">
        Nuevo Ticket
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">

    <!-- TITULO -->
    <div>
        <label class="block mb-1 font-medium">Título</label>
        <input
            type="text"
            formControlName="titulo"
            class="w-full border rounded px-3 py-2"
            placeholder="Pantalla no enciende"
        />
        @if (titulo.touched && titulo.invalid) {

            @if (titulo.hasError('required')) {

                <p class="text-red-600 text-sm">El título es obligatorio.</p>
            }
        }
    </div>

    <!-- DESCRIPCIÓN -->
    <div>
        <label class="block mb-1 font-medium">Descripción del problema</label>
        <textarea formControlName="descripcion" class="w-full border rounded px-3 py-2" rows="4" placeholder="Describe el problema con detalle..." ></textarea>
        @if (descripcion.touched && descripcion.invalid) {

            @if (descripcion.hasError('required')) {

                <p class="text-red-600 text-sm">La descripción es obligatoria.</p>
            }
            
            @if (descripcion.hasError('minlength')) {

                <p class="text-red-600 text-sm">Debe tener al menos 10 caracteres.</p>
            }
        }
    </div>

    <!-- TIPO DE MÁQUINA -->
    <div>
        <label class="block mb-1 font-medium">Tipo de máquina</label>
        <input type="text" formControlName="tipoMaquina" class="w-full border rounded px-3 py-2" placeholder="Notebook, Celular, PC..." />
        @if (tipoMaquina.touched && tipoMaquina.invalid) {

            @if (tipoMaquina.hasError('required')) {

                <p class="text-red-600 text-sm">Este campo es obligatorio.</p>
            }
        }
    </div>

    <!-- CLIENTE -->
    <div>
        <label class="block mb-1 font-medium">Cliente</label>
        <select formControlName="idCliente" class="w-full border rounded px-3 py-2">
        <option value="" disabled selected>Seleccione un cliente</option>
        @for (c of clientes; track c.id) {
            <option [value]="c.id">
                {{ c.nombre }} {{ c.apellido }}
            </option>
        }
        </select>

        @if (idCliente.touched && idCliente.invalid) {
            @if (idCliente.hasError('required')) {

                <p class="text-red-600 text-sm">Debe seleccionar un cliente.</p>
            }
        }
    </div>

    

    <!-- BOTONES -->
    <div class="flex justify-end gap-4">
        <button type="reset" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
            Limpiar
        </button>

        <button type="submit" [disabled]="form.invalid" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 disabled:bg-gray-400">
            Crear Ticket
        </button>
    </div>

    </form>
</div>
